{% load static %}
{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'Assest/Img/ojm-log.png'%}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'Css/login.css' %}">
        <link rel="stylesheet" href="{% static 'Css/style.css' %}">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%if form.errors%}
        {%for field, errors in form.errors.items%}
        {%if forloop.last%}
        <div class="error-container" id="error-container">
          <div class="errors" id="errors">
            
            <span>{{errors}}</span>
            
            <button class="close-button" onclick="removeDiv('error-container')">✖</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
  <div class="login-wrapper ">
    <div class="wrapper">
        <h2>Enter new password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                {{ form.new_password1 }}
                <i class="uil uil-lock"></i>
            </div>
            <div class="input-box">
                {{ form.new_password2 }}
                <i class="uil uil-lock"></i>
            </div>
            <button type="submit" class="btn">Set password</button>
        </form>
    </div>
  </div>

        
    </body>
</html>
  
{% endblock %}
