{% load static %}
{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'Assest/Img/ojm-log.png'%}" type="image/x-icon" />
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'Css/login.css' %}">
        <link rel="stylesheet" href="{% static 'Css/style.css' %}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
        <style>
            body{
                display:flex;
                align-items: center;
                justify-content: center;
            }
            
        </style>

    </head>
    <body class="">
        <div class="wrapper">
            <div class="login">
                <h6>Reset password</h6>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-box">
                        {{ form.email }}
                        <i class="uil uil-envelope"></i>
                    </div>
                    <button type="submit" class="btn">Reset password</button>
                </form>
            </div>
          </div>
        
    </body>
</html>
  
{% endblock %}
